<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Expense Claims</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home
            <span *ngIf="isActiveLink('/home')" class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/expenses">Expenses
            <span *ngIf="isActiveLink('/expenses')" class="sr-only">(current)</span>

          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/expenseform">Form
            <span *ngIf="isActiveLink('/expenseform')" class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active" *ngIf='isLoggedIn; else login'>
          <a (click)="signout()" class="nav-link link" [routerLink]="['/logout']">
            <span class='glyphicon glyphicon-log-out'></span> Logout</a>
        </li>
        <ng-template #login>
          <li class="nav-item active">
            <a (click)="signin()" class="nav-link link"  [routerLink]="['/login']">
              <span class='glyphicon glyphicon-log-in'></span> Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
