<h2>Form Detail</h2>

<div>
  <div>Description: {{claim.Description}}</div>
  Total:
</div>

<div class='row'>
  <div class='col-md-12 col-sm-12'>
    <table class='table bordered-table table-striped'>

      <thead class='thead-dark'>
        <th scope='col'>Description</th>
        <th scope='col'>Net Amout</th>
        <th scope='col'>Tax</th>
        <th scope='col'>Total</th>
      </thead>
      <tbody>
        <tr *ngFor='let item of claim.ExpenseItems'>
            <td>{{item?.description}}</td>
            <td>{{item?.Net}}</td>
            <td>{{item?.Tax}}</td>
            <td>{{item?.Total}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
