<form [formGroup]="addExpenseForm" class="form-inline" novalidate>
  <div formArrayName="itemRows">
    <!-- Check the correct way to iterate your form array -->
    <div *ngFor="let itemrow of addExpenseForm?.controls.itemRows['controls']; let i=index" [formGroupName]="i">      
      <div class="form-group">        
        <input formControlName="description" placeholder="Description" class="form-control">
        <input formControlName="amount" placeholder="Amount" class="form-control" type="number" (blur)='updateRow(i)'>
        <input formControlName="tax" placeholder="Tax" class="form-control" type="number" (blur)='updateRow(i)'>
        <input formControlName="total" placeholder="Total" class="form-control" type="number" readonly>
        <button class="btn btn-outline-secondary" (click)="addNewRow()" type="button" [disabled]="!isValidRow(i)" *ngIf='shouldShowAddButton(i)'>
          <i class="fa fa-plus"></i>
        </button>
        <button class="btn btn-outline-secondary" (click)="deleteRow(i)" type="button" [disabled]="!isValidRow(i)" *ngIf='!shouldShowAddButton(i)'>
          <i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- <button *ngIf="addExpenseForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button> -->
    </div>
  </div>
  <!-- <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button> -->
</form>

<!-- <p>Form value: {{ addExpenseForm.value | json }}</p>
<p>Form status: {{ addExpenseForm.status | json }}</p> -->
